<div class="grid-container">
    <div class="grid-x grid-padding-x">
        <ul class="menu icons icon-left">
            <li><a routerLink="/"><i class="fi-list"></i> <span>Home</span></a></li>
            <li><a routerLink="register"><i class="fi-list"></i> <span>Register</span></a></li>
            <li><a routerLink="login"><i  class="fi-list is-active"></i> <span>Login</span></a></li>
            <li><a href="#"><i class="fi-list"></i> <span>Four</span></a></li>
            <li><a href="#"><i class="fi-list"></i> <span>One</span></a></li>
            <li><a href="#"><i class="fi-list"></i> <span>Two</span></a></li>
            <li><a href="#"><i class="fi-list"></i> <span>Three</span></a></li>
            <li><a href="#"><i class="fi-list"></i> <span>Four</span></a></li>
        </ul>
    </div>
</div>

<router-outlet></router-outlet>
